<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% include('seo') %>

  <link rel="stylesheet" href="<%- page.srcfix %>css/fontawsome.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/tailwind.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/locomotive.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/swiper.css" />
  <link rel="stylesheet" href="<%- page.srcfix %>css/main.css">
</head>

<body x-data="{navOpen:false,test:'wokring'}" data-scroll-container>
  <%- include("preloader") %>
  <%- include("navbar") %>
  <%- body %>
  <%- include("footer") %>

  <script src="<%- page.srcfix %>js/alpine.js"></script>
  <script src="<%- page.srcfix %>js/locomotive.js"></script>
  <script src="<%- page.srcfix %>js/swiper.js"></script>
  <script src="<%- page.srcfix %>js/fuse.js"></script>
  <script src="<%- page.srcfix %>js/main.js"></script>
</body>

</html>