<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% include('main/seo') %>

  <link rel="stylesheet" href="<%- page.srcfix %>css/fontawsome.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/locomotive.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/swiper.css" />
  <link rel="stylesheet" href="<%- page.srcfix %>css/tailwind.css">
  <link rel="stylesheet" href="<%- page.srcfix %>css/main.css">
</head>

<body srcfix="<%- page.srcfix %>" x-data="{navOpen:false,test:'wokring'}" data-scroll-container class="max-w-full overflow-x-hidden">
  <%- include("main/preloader") %>
  <%- include("main/navbar") %>
  <%- body %>
  <!-- <%- include('mini/alert') %> -->
  <%- include("main/footer") %>

  <script defer src="<%- page.srcfix %>js/alpine.js"></script>
  <script defer src="<%- page.srcfix %>js/locomotive.js"></script>
  <script defer src="<%- page.srcfix %>js/swiper.js"></script>
  <script defer src="<%- page.srcfix %>js/fuse.js"></script>
  <script defer src="<%- page.srcfix %>js/main.js"></script>
</body>

</html>