<a class="text-white font-light group transition-all duration-500 ease-in-out text-sm" category="<%- link %>"
  onclick="setCategory(event)" href="<%- page.srcfix %>products">
  <i category="<%- link %>" class="fal fa-angle-right group-hover:ml-0.5 transition-all duration-500 ease-in-out"></i><i
    category="<%- link %>" class="fal fa-angle-right group-hover:ml-0.5 transition-all duration-500 ease-in-out"></i>
  <span category="<%- link %>" class="group-hover:ml-0.5 transition-all duration-500 ease-in-out"><%- text %></span>
</a>