<footer data-scroll-section class="bg-[#111111] py-5 mt-10 space-y-10">
  <div class="container px-6 md:px-3 mx-auto flex flex-col md:flex-row space-y-8 md:space-x-5 md:space-y-0">
    <div class="flex-[2] space-y-3">
      <p class="font-bold text-red-600 ">COMPNAY</p>
      <img class="w-20" src="<%- page.srcfix %>img/logo.png" alt="">
      <p class="w-3/4 text-white font-light text-sm">
        ETAR Mobile Accessories established in 2017 and having it's headquarters in Mumbai, ETAR is India's most
        progressive Consumer Mobile Accessories brand
      </p>
    </div>
    <div class="flex-1 space-y-3">
      <p class="font-bold text-red-600">PRODUCTS</p>
      <div class="flex flex-col">
        <div class="flex flex-col space-y-1">
          <%-include('../mini/footerlink',{text:'Stand', link:'stand'})%>
          <%-include('../mini/footerlink',{text:'Charger', link:'charger'})%>
          <%-include('../mini/footerlink',{text:'Car Charger', link:'car charger'})%>
          <%-include('../mini/footerlink',{text:'Earphone', link:'earphone'})%>
          <%-include('../mini/footerlink',{text:'Speaker', link:'speaker'})%>
        </div>
      </div>
    </div>
    <div class="flex-1 space-y-3">
      <p class="font-bold text-red-600">CONTACT</p>
      <div class="flex flex-col space-y-1">
        <a class="text-white font-light group transition-all duration-500 ease-in-out text-sm flex cursor-default">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-20 h-20 mr-1">
            <path fill-rule="evenodd"
              d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
              clip-rule="evenodd"></path>
          </svg>
          <p class="group-hover:ml-0.5 transition-all duration-500 ease-in-out">Office No. 10, 10th Floor Plot-156
            Evrest Appartment, Pandit Madan Mohan Malviya Marg, Tardeo,MUMBAI-400034</p>
        </a>
        <a class="text-white font-light group transition-all duration-500 ease-in-out text-sm flex cursor-default">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1">
            <path
              d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
            </path>
          </svg>
          <p class="group-hover:ml-0.5 transition-all duration-500 ease-in-out">9920202470</p>
        </a>
        <a class="text-white font-light group transition-all duration-500 ease-in-out text-sm flex cursor-default">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
          </svg>
          <p class="group-hover:ml-0.5 transition-all duration-500 ease-in-out">info@etarindia.com</p>
        </a>
      </div>
    </div>
    <div class="flex-1 space-y-3">
      <p class="font-bold text-red-600">NEWSLETTER</p>
      <p class="text-white text-sm">
        Subscribe to get notified about product launches, special offers and company news.
      </p>
      <div class="flex flex-col space-y-3">
        <input type="text" class="w-full px-3 text-lg py-2 rounded focus:ring-transparent"
          placeholder="Enter Your Email Address">
        <button class="button-1 rounded mr-auto">SUBSCRIBE</button>
      </div>
    </div>
  </div>
  <div class="container mx-auto spcae-y-2 text-white">
    <p class="text-center text-sm">Copyright © 2022 ETAR INDIA</p>
    <p class="text-center text-xs">Designed By Digiopro</p>
  </div>
</footer>