---
{
"title":"demo"
}
---

<div data-scroll-section class="relative landscape:min-h-screen">
  <div  class="swiper relative landscape:min-h-screen">
    <div class="swiper-wrapper">
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'img/91.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'img/110.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'img/91.png'}) %></div>
    </div>
  </div>
</div>


<div data-scroll-section
  class="container mx-auto grid px-6 gap-y-5 md:px-10 md:gap-y-10 md:gap-10 md:grid-cols-2 mt-10">
  <%- include('page/card1') %>
  <%- include('page/card1') %>
  <%- include('page/card1') %>
  <%- include('page/card1') %>
</div>

<div data-scroll-section
  class="container mx-auto grid px-6 gap-y-5 md:px-10 md:gap-y-10 md:gap-10 sm:grid-cols-3 lg:grid-cols-4 mt-10">
  <%- include('page/card2') %>
  <%- include('page/card2') %>
  <%- include('page/card2') %>
  <%- include('page/card2') %>
</div>