---
{
"title":"demo"
}
---

<div data-scroll-section>
  <div class="swiper">
    <div class="swiper-wrapper">
      <%- include('page/hero2',{img:'ET-A2210.jpg'}) %>
      <%- include('page/hero2',{img:'ET-BH65.jpg'}) %>
      <%- include('page/hero2',{img:'ET-C11.jpg'}) %>
      <%- include('page/hero2',{img:'ET-R18.jpg'}) %>
    </div>
  </div>
</div>

<div data-scroll-section class="container mx-auto px-6 md:px-10 mt-16 space-y-8">
  <div class="flex justify-start">
    <span class="button-1 px-6 rounded-none rounded-tl-2xl rounded-br-2xl text-xl">
      FEATURED PRODUCTS</span>
  </div>
  <div class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 md:gap-10">
    <% site.data.products.filter(page=> page.featured).forEach(page => { %>
    <%- include('page/card2',{
      name: page.name, 
      img:page.img ,
      link: "./products/"+page.name,
      features : page.features,
    }) %>
    <% }) %>
  </div>
</div>

<div data-scroll-section="mt-16">
  <video src="./video/mainbannervideo.mp4" class="aspect-video container mx-auto px-6 md:px-10 video" preload="auto" volume=0.3 autoplay></video>
</div>

<div data-scroll-section class="container mx-auto px-6 md:px-10 mt-16 space-y-8">
  <div class="flex justify-end">
    <span
      class="button-1 px-6 rounded-none rounded-tl-2xl rounded-br-2xl text-xl cursor-default">CATEGORY</span>
  </div>
  <div class="grid gap-y-5  md:gap-y-10 md:gap-10 md:grid-cols-2">
    <% site.data.products.filter(page=> page.category).forEach(page => { %>
    <%- include('page/card1',{
      name: page.type, 
      img:page.img ,
      link: "./products/"+page.name 
    }) %>
    <% }) %>
  </div>
</div>

<div data-scroll-section class="mt-16">
  <div class="container mx-auto px-6 md:px-10 md:flex space-y-5 md:space-y-0">
    <div class="flex-[2]">
      <video src="./video/bannervideo1.mp4" class="aspect-square w-full video" preload="auto" autoplay></video>
    </div>
    <div class="flex-[1] space-y-5 md:space-y-0">
      <div>
        <video src="./video/bannervideo2.mp4" class="aspect-square w-full video" preload="auto" autoplay></video>
      </div>
      <div>
        <video src="./video/bannervideo3.mp4" class="aspect-square w-full video" preload="auto" autoplay></video>
      </div>
    </div>
  </div>
</div>