---
{
"title":"demo"
}
---

<div data-scroll-section class="relative landscape:min-h-screen">
  <div class="swiper relative landscape:min-h-screen">
    <div class="swiper-wrapper">
      <div class="swiper-slide overflow-hidden"><%- include('page/hero2',{img:'ET-A12100.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero2',{img:'ET-BH65.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero2',{img:'ET-C11.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero2',{img:'ET-R18.png'}) %></div>
    </div>
  </div>
</div>

<div data-scroll-section class="container mx-auto px-6 md:px-10 mt-16 space-y-8">
  <div class="flex justify-start">
    <span class="button-1 px-6 rounded-none rounded-tl-2xl rounded-br-2xl text-xl">
      FEATURED PRODUCTS</span>
  </div>
  <div class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 md:gap-10">
    <% site.data.products.filter(page=> page.featured).forEach(page => { %>
    <%- include('page/card2',{
      name: page.name, 
      img:page.img ,
      link: "./products/"+page.name,
      features : page.features,
    }) %>
    <% }) %>
  </div>
</div>

<div data-scroll-section class="container mx-auto px-6 md:px-10 mt-16 space-y-8">
  <div class="flex justify-end">
    <span
      class="button-1 px-6 rounded-none rounded-tl-2xl rounded-br-2xl text-xl cursor-default">CATEGORY</span>
  </div>
  <div class="grid gap-y-5  md:gap-y-10 md:gap-10 md:grid-cols-2">
    <% site.data.products.filter(page=> page.category).forEach(page => { %>
    <%- include('page/card1',{
      name: page.type, 
      img:page.img ,
      link: "./products/"+page.name 
    }) %>
    <% }) %>
  </div>
</div>