---
{
"title":"demo"
}
---

<div data-scroll-section class="relative landscape:min-h-screen">
  <div  class="swiper relative landscape:min-h-screen">
    <div class="swiper-wrapper">
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'A122.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'BHA-53.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'BHA-65.png'}) %></div>
    </div>
  </div>
</div>


<div data-scroll-section
  class="container mx-auto px-6 md:px-10 mt-10 space-y-8">
  <span style="clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%)" class="button-1 pr-10 rounded-md text-xl">CATEGORY</span>
  <div class="grid gap-y-5  md:gap-y-10 md:gap-10 md:grid-cols-2">  
    <%- include('page/card1',{name:'Bluetooth Earphone', img:'BH-53.png',link:'bluetooth-earphone/move-1'}) %>
    <%- include('page/card1',{name:'Earphone', img:'Q6.png',link:'bluetooth-earphone/move-1'}) %>
    <%- include('page/card1',{name:'Earbuds', img:'R17.png',link:'bluetooth-earphone/move-1'}) %>
    <%- include('page/card1',{name:'Power Bank', img:'PB-701.png',link:'bluetooth-earphone/move-1'}) %>
    <%- include('page/card1',{name:'Car Charger', img:'ET-C11.png',link:'bluetooth-earphone/move-1'}) %>
  </div>
</div>

<div data-scroll-section
  class="container mx-auto px-6 md:px-10 mt-12 space-y-8">
  <div class="flex justify-end">
    <span style="clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%)" class="button-1 pl-8 rounded-md text-xl">PRODUCTS</span>
  </div>
  <div class="grid gap-5 grid-cols-2 sm:grid-cols-3 md:gap-10 lg:grid-cols-4">  
    <%- include('page/card2',{name:'BH-65', img:'bh-65.png',link:'bluetooth-earphone/move-1'}) %>
    <%- include('page/card2',{name:'A122', img:'A122.png',link:'bluetooth-earphone/move-1'}) %>
    <%- include('page/card2',{name:'earphone', img:'A122.png',link:'bluetooth-earphone/move-1'}) %>
    <%- include('page/card2',{name:'earphone', img:'A122.png',link:'bluetooth-earphone/move-1'}) %>
  </div>
</div>