---
{
"title":"demo"
}
---

<div data-scroll-section class="relative landscape:min-h-screen">
  <div class="swiper relative landscape:min-h-screen">
    <div class="swiper-wrapper">
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'A122.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'BH-53.png'}) %></div>
      <div class="swiper-slide overflow-hidden"><%- include('page/hero',{img:'BH-65.png'}) %></div>
    </div>
  </div>
</div>

<div data-scroll-section class="container mx-auto px-6 md:px-10 mt-16 space-y-8">
  <div class="flex justify-start">
    <span style="clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%)" class="button-1 pr-10 rounded-md text-xl">
      FEATURED PRODUCTS</span>
  </div>
  <div class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 md:gap-10">
    <% site.pages.filter(page=> page.data.featured).forEach(page => { %>
    <%- include('page/card2',{name: page.data.name, img:page.data.img ,link: page.actualpath.substring(1) }) %>
    <% }) %>
  </div>
</div>

<div data-scroll-section class="container mx-auto px-6 md:px-10 mt-16 space-y-8">
  <div class="flex justify-end">
    <span style="clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%)"
      class="button-1 pl-10 rounded-md text-xl">CATEGORY</span>
  </div>
  <div class="grid gap-y-5  md:gap-y-10 md:gap-10 md:grid-cols-2">
    <% site.pages.filter(page=> page.data.category).forEach(page => { %>
    <%- include('page/card1',{name: page.data.type, img:page.data.img ,link: page.actualpath.substring(1)}) %>
    <% }) %>
  </div>
</div>