---
{
"title":"<%- title %>",
"category": <%-  typeof category == 'undefined' ? false : true %>,
"featured": <%-  typeof featured == 'undefined' ? false : true %>,
"name":"<%- name.toUpperCase() %>",
"type":"<%- type %>",
"img":"<%- img %>",
"features":"<%- features %>"
}
---

<div data-scroll-section>
  <%%- include('mini/img',{ 
    alt : "product",
    src : "../img/posters/mobile/<%- img.replace('.png','.jpg') %>",
    md : "../img/posters/desktop/<%- img.replace('.png','.jpg') %>", 
    pictureclass : "", 
    classes : "w-full", 
  }) %%>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center  relative overflow-hidden items-center">
  <%%- include('mini/img',{ 
    alt : "product",
    src : "../img/products/small/<%- img %>",
    md : "../img/products/large/<%- img %>", 
    pictureclass : "w-full md:w-[40%] z-[1]",
    classes : "" , 
  }) %%>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip text-center">
    <%- name.toUpperCase() %>
  </p>
</div>

<div data-scroll-section>
  <p class="py-3 px-6 font-medium tracking-wider text-center text-gray-700 uppercase">Color</p>
  <div class="flex space-x-2 justify-center">
    <% colors.forEach(color => { %>
    <div class="aspect-square w-8 rounded-md border" <%-`style="background-color: ${color};"`%>></div>
    <% }) %>
  </div>
</div>

<div data-scroll-section class="mt-10 md:mt-10">
  <p class="py-3 px-6 font-medium tracking-wider text-center text-gray-700 uppercase">Feature</p>
  <div class="flex flex-col md:flex-row space-y-5 justify-center md:space-y-0 md:space-x-8">
    <% features.forEach(feature => { %>
    <div class="flex flex-col md:flex-row items-center md:space-x-5 space-y-3 md:space-y-0">
      <div class="p-2 md:p-3 bg-indigo-100 rounded-full w-16 h-16 flex items-center justify-center">
        <img class="w-8" src="<%- "../img/icons/"+feature.img %>" alt="">
      </div>
      <p data-sal="slide-right" class="text-center md:text-left text-sm md:text-lg">
        <%- feature.name %>
      </p>
    </div>
    <% }) %>
  </div>
</div>

<% if(description.length != 0){ %>
  <div data-scroll-section class="mt-10 md:mt-10">
    <div class="max-w-2xl mx-auto px-3 md:px-6 space-y-5">
      <p class="px-6 font-medium tracking-wider text-center text-gray-700 uppercase">
        description
      </p>
      <p class="px-6 text-sm text-gray-500">
        <%- description %>
      </p>
    </div>
  </div>
<% } %>

<% if(specs.length != 0){ %>
<div data-scroll-section class="mt-10 md:mt-10">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden flex justify-center">
        <table class="min-w-fit w-1/2 max-w-3xl">
          <thead class="bg-gray-100">
            <tr>
              <th scope="col" colspan="2"
                class="py-3 px-6 font-medium tracking-wider text-center text-gray-700 uppercase">
                specification
              </th>
            </tr>
          </thead>
          <tbody>
            <% specs.forEach(spec => { %>
            <tr
              class="border-b odd:bg-white even:bg-gray-50">
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                <%- spec[0] %>
              </td>
              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
                <%- spec[1] %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% } %>