---
{
"title":"<%- title %>",
"category": <%-  typeof category == 'undefined' ? false : true %>,
"featured": <%-  typeof featured == 'undefined' ? false : true %>,
"name":"<%- name.toUpperCase() %>",
"type":"<%- type %>",
"img":"<%- img %>",
"features":"<%- features %>"
}
---

<div data-scroll-section>
  <%%- include('mini/img',{
    alt : "product",
    src : "../img/posters/mobile/<%- img.replace('.png','.jpg') %>",
    md : "../img/posters/desktop/<%- img.replace('.png','.jpg') %>",
    classes : "",
  }) %%>
</div>

<div data-scroll-section class="maxhfix h-screen flex justify-center items-center">
  <%%- include('mini/img',{
    alt : "product",
    src : "../img/products/small/<%- img %>",
    md : "../img/products/large/<%- img %>",
    classes : "w-full md:w-[40%] z-[1]",
  }) %%>
  <p data-scroll data-scroll-speed="1"
    class="text-8xl md:text-[20rem] absolute text-white stroke text-clip overflow-hidden text-center"><%- name.toUpperCase() %></p>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  <% colors.forEach(color => { %>
  <div class="aspect-square w-5 rounded-md" <%-`style="background-color: ${color};"`%> ></div>
  <% }) %>
  </div>
</div>

<div data-scroll-section>
  <div class="flex space-x-2">
  <% features.forEach(feature => { %>
  <div><%- feature.name %></div>
  <% }) %>
  </div>
</div>